<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/mahadik.santosh/Desktop/QA Academy/Practice/src/test/java/TestNG/DependsOnMethod.java">
        <classes>
            <class name="TestNG.DependsOnMethod">
            </class>
        </classes>
    </test>
</suite>